service: durianpy-email-service
frameworkVersion: ^3.40.0

custom:
  projectName: durianpy-events
  serviceName: durianpy-email
  stage: ${opt:stage, self:provider.stage}
  registrations: ${self:custom.stage}-${self:custom.projectName}-registrations
  entities: ${self:custom.stage}-${self:custom.projectName}-entities
  emailQueue: ${self:custom.stage}-${self:custom.projectName}-email-queue.fifo
  sendgridApiKeyName: ${self:custom.stage}-${self:custom.projectName}-sendgrid-api-key
  frontendUrl:
    dev:  ${ssm:/techtix/frontend-url-dev}
    staging: ${ssm:/techtix/frontend-url-staging}
    prod: ${ssm:/techtix/frontend-url-prod}
  smtpUsernameKey: ${self:custom.projectName}-techtix-smtp-username
  smtpPasswordKey: ${self:custom.projectName}-techtix-smtp-password
  pythonRequirements:
    useDownloadCache: false
    useStaticCache: false
    slim: false
    dockerizePip: non-linux
    noDeploy:
      - requests
      - boto3
      - botocore
    layer:
      name: durianpy-events-${self:custom.stage}-python-requirements
      compatibleRuntimes:
        - python3.8

provider:
  name: aws
  runtime: python3.8
  stage: dev
  region: ap-southeast-1
  versionFunctions: false
  environment:
    REGION: ${self:provider.region}
    STAGE: ${self:custom.stage}
    ENTITIES_TABLE: ${self:custom.entities}
    EMAIL_QUEUE: ${self:custom.emailQueue}
    SENDER_EMAIL: contact@durianpy.org
    DISPLAY_EMAIL_NAME: DurianPy Davao Python User Group
    SENDGRID_API_KEY_NAME: ${self:custom.sendgridApiKeyName}
    FRONTEND_URL: ${self:custom.frontendUrl.${self:custom.stage}}
    REGISTRATIONS_TABLE: ${self:custom.registrations}
    SES_SMTP_USERNAME_KEY: ${self:custom.smtpUsernameKey}
    SES_SMTP_PASSWORD_KEY: ${self:custom.smtpPasswordKey}
    SES_SMTP_HOST: email-smtp.ap-southeast-1.amazonaws.com


resources:
  - ${file(resources/sqs.yml)}

functions:
  - ${file(resources/send_email.yml)}

plugins:
  - serverless-better-credentials
  - serverless-python-requirements
  - serverless-iam-roles-per-function

package:
  patterns:
    - "!requirements.txt"
    - "!.serverless/**"
    - "!venv/**"
    - "!node_modules/**"
    - "!.idea/**"
    - "!node_modules**"
    - "!package.json"
    - "!package-lock.json"
    - "!Pipfile"
    - "!Pipfile.lock"
    - "!log.txt"
    - "!README.md"
    - "!ruff.toml"
    - "!scripts/**"
    - "!resources/**"
    - "!__pycache__/**"
